/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.site-content {
	position: relative;
	
	&:before{
		font-family: "FontAwesome";
  		content: "\f10d";
		font-size: 9rem;
		position: absolute;
		top:0;
		left: -175px
		
		
		
	}
	&:after{
		font-family: "FontAwesome";
  		content: "\f10e";
		font-size: 9rem;
		position: absolute;
		top:0;
		right: -175px;
		
	}
	

}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}
