/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
body {
    font-family: "Exo",sans-serif;
    font-weight: 100;
    font-size: 2rem;
    line-height: 1.5;
    background-color: #222222;
    background-size: cover;
    color: #fff;

    .footer-navigation li {
        border-right: 1px solid #fff;
        line-height: 1;
        padding: 0 1rem; 
        font-size: 1rem;   
        display: block;
        color: #00cc00;
        align-content: space-between;
      
    }
    .site-info {
        border-right: 1px solid #fff;
        line-height: 1;
        font-size: 1rem;
        padding: 0 1rem;    
        display: block;
        color: #00cc00;
        align-content: space-between;
        float: right;
    }
    
}

.hfeed {
    
    align-content: center;
    text-align: center;
    border: solid red 5px;
    padding: 50px;
    margin: 0 auto;
    max-width: 1080px;
    padding: 2.5%;
    width: 100%;

    }
#new-quote-button,
.menu-toggle {
    border: #00cc00 solid 5px;
    background-color: black;
    color:#00cc00;
    }
.logo {
        align-content: center;
        border: white solid 1px;
}

img {
    border: purple solid 5px;

}


/* All Archives Page */


/* Submit a Quote Page */
